.body {
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .header {
    margin: 32px 130px 80px 130px;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    line-height: 1.2;
    align-items: center;
  }
  
  .header__logo-image {
      display: block;
      width: 180px;
      grid-column: 1 / span 3;
      margin-top: 2px;
  }
  
  .header__address {
      display: flex;
      grid-column: 9 / span 4;
      font-size: 14px;
      font-style: normal;
      text-align: end;
      gap: 30px;
      justify-self: end;
  }
  
  .address_item_link {
      font-weight: 600;
      font-size: 20px;
      color: #607ce6;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 2px;
  }
  
  .header__menu {
      grid-column: 1 / span 12;
      grid-row: 2 / 3;
      padding-top: 32px;
  }
  
  .header__links-list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      border-top: 1px solid #888;
      padding-top: 17px;
  }
  
    .header__link {
      text-decoration: none;
  }
  
  .header__links-list-item_icon {
      list-style-image: url(../images/phone\ 1.png);
      color: #607ce6;
      text-transform: uppercase;
      margin-left: 50px;
      font-size: 14px;
  }

  .hero {
    margin: 80px 130px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px 20px;
  }

  .hero__text {
    display: flex;
    line-height: 1.2;
  }

  .hero__text-title {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.05em;
    grid-column: 1 / 7;
  }
  
  .hero__text-description {
    margin-top: 26px;
    grid-column: 7 / 11;
  }

  .hero__pic {
    grid-column: 1 / -1;
    width: 100%;
    height: 440px;
    object-fit: cover;
  }

  .about {
    margin: 0px 130px;
  }

  .caption {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  .about__text {
    line-height: 1.4;
  }

  .about_grid {
    display: grid;
    margin-top: 32px;
    grid-template-columns: 1fr 1fr;
    gap: 20px 24px;
  }

  .aboit__pic {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-top: 11px;
  }

  .products,
  .map,
  .news {
    margin: 80px 130px;
  }

  .product__card-list{
    margin-top: 32px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 20px;
    grid-template-rows: repeat(2, 435px);
  }

  .product__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #F5F5F5;
    height: 100%;
    padding-top: 32px;
    padding-left: 24px;
  }

  .product__card-img {
    width: 200px;
  }

  .product__card-description {
    line-height: 1.2;
  }

  .product__card-description-title {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.05em;
    margin-bottom: 12px;
  }

  .product__card-description-link {
    display: block;
    color: #607ce6;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 32px;
    letter-spacing: -0.01em;
  }

  .map__pic {
    margin-top: 32px;
	  height: auto;
	  display: block;
  }

  .news__card-list {
    margin-top: 32px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .news__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #F5F5F5;
  }

  .news__card-pic {
    object-fit: contain;
    align-self: start;
  }

  .news__card-title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 16px;
  }

  .news__card-more {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 15px;
  }

  .news__card-link {
   color: #607ce6;
   line-height: 1.2;
   text-decoration: none;
  }

  .news__card-time {
    line-height: 1.4;
    color: #888;
    letter-spacing: -0.01em;
  }

  .footer {
    background-color: #333;
    color: #fff;
    line-height: 1.2;
  }

  .footer__container {
    padding: 56px 155px 24px 130px;
    display: flex;
  }

  .footer__logo {
    display: block;
    min-width: 180px;
  }

  .footer_menu {
    display: flex;
  }

  .footer__menu-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 420px;
    gap: 24px 47px; 
  }

  .footer__link {
    text-decoration: none;
  }

  .footer__menu-list-item:nth-child(10) {
    margin-top: -18px;
  } 
  
  .footer__menu-list-item:last-child {
    grid-column: 1 / 2;
  }

  .footer__copyright {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 24px;
  }


  



